ENVIRONMENT=local

#database
DB_ECHO=false
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10
DB_POOL_TIMEOUT=30

WOW_AUTH_DB_URL=mysql+asyncmy://root:test@127.0.0.1:3306/acore_auth
WOW_CHARACTERS_DB_URL=mysql+asyncmy://root:test@127.0.0.1:3306/acore_characters
WOW_WORLD_DB_URL=mysql+asyncmy://root:test@127.0.0.1:3306/acore_world

#soap
ACORE_SOAP_URL=http://127.0.0.1:7878/
ACORE_SOAP_USERNAME=admin
ACORE_SOAP_PASSWORD=strong_password
ACORE_SOAP_TIMEOUT=10.0